* {
  font-family: "vazir";
  direction: rtl;
}
/* Font */

@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.woff");
}
/* Nav tag Background-color */
main > nav {
  height: auto;
  background-color: #e8e8e8;
  border-radius: 1rem;
}
/* Main */

/* select tag custom attributes */
.optionCar {
  color: #393e46;
  font-style: italic;
  font-weight: bold;
}
/* hr  */
hr {
  width: 100%;
  color: #e8e8e8 !important;
}
/* Table */
div > table {
  background-color: #f4f4f2;
  border-radius: 1rem;
}
.checkoutForm {
  display: none !important;
}
